*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;  
    justify-content: center;
}

.pesquisa{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 5px;
}

.input-group {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 8px; /* Espaço entre a lupa e o campo */
    padding: 8px 100px; /* Espaçamento interno */
    width: 350px; /* Largura total */
}

.input-group > input{
    border-radius: 70px;
}

.input-icon img{ 
    display: flex;
    border-radius: 50%;
    min-width: 32px;
    min-height: 32px;
    
    padding: 7px;
    cursor: pointer; 
    width: 16px;
    height: 16px; 
    margin-left: 0%;
}

.input-field{
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    border-radius: 5px;
}

.input-field > input{
    border-radius: 5px;
}

.input-field:focus{
    outline: none;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin-top: 12px;
    border-radius: 24px;
    padding: 14px;
    width: 350px;
    max-height: 421px;
    overflow-y: auto;
    background-color: #8973fa5d;
    justify-items: center;
    align-content: center;
}

.item{
    display: flex;
    gap:12px;
}

.item-image{
    width: 100px;
    height: 120px ;
    border-radius: 8px;
}

.item-image img{ 
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.item-title{
    font-size: 18px;
}

.item-subtitle{
    font-size: 12px;
}

.item-description{
    font-size: 14px;
}

.item-subtitle img{
    width: 20px;
    height: 20px;
}

#sem_resultados{
    display: none;
    text-align: center;
}


