@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Roboto:400,700,900&display=swap');

:root {

    --cor0:#F2F2F2;
    --cor1:#B79BF2;
    --cor3:#1F0740;
    --cor4:#211626;
    --cinza: #4b484d;

    --font-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-destaque: Verdana, Geneva, Tahoma, sans-serif;

}


* {

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/*Header*/

#lista {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    background-color: #8973FA;
}

.lista_header {

    text-decoration: none;
    list-style: none;
    margin: 20px 50px 20px 50px;
  
}

#list_home {
    
    margin-right: 300px;
}

.link{

    text-decoration: none;
    color:white;
    

}

.link:hover {

    color: #8973FA;
    cursor: pointer;
}


.botao {

    background-color: #8973FA;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    width: 125px;
    height: 30px;
}

.botao:hover {

    background-color: white;
    
}




.nav_bar > ul {

    display: flex;
}

.nav_bar > ul > li > a {

    display: block;
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-weight: bold;
}

.nav_bar > ul > li > a:hover {

    color: #1F0740 ;
    background: white;
}

.nav_bar > ul > li > a.active {

    color: #1F0740;
    background: white;
}

@media only screen and ((max-width: 1320px)) {

    header {
        
        padding: 0 50px;
    }
}

@media only screen and ((max-width: 1100px)) {

    header {
        
        padding: 0 30px;
    }
}

@media only screen and ((max-width: 900px)) {

    .hamburguer {

        display: block; 
        cursor: pointer;
    }

    .hamburguer > .line {

        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .nav_bar {

        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #1F0740 ;
        transition: 0.5s;
        overflow: hidden;

    }

    .nav_bar.active {

        height: 450px;
    }

    .nav_bar > ul {

        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }

    .nav_bar.active ul {

        opacity: 1;
    }

    .nav_bar > ul > li > a {

        margin-bottom: 12px;
        
    }

}

header {

    margin-top: 0;
}
body, html {
    margin: 0;
  
}
main {
    background: url(../Logos/view-rock-formations-with-nature-landscape.jpg);
    
}
main > .conteiner {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    text-align: center;
}
.content {
    width: 50%; /* Largura do contêiner */
    padding: 20px;
    width: 100%;
    height: 100%;
}
main > .container {
    display: flex;
    background-color: #B79BF2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    /* M3/Elevation Light/3 */
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    background-size: 100PX not-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;   
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.menu ul {
    background-color: rgba(162, 45, 235, 0.274);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.481); /* Efeito de sombra */
    display: flex; /* Alinhamento horizontal dos itens */
    justify-content: center; /* Centraliza os itens */
    padding: 10px 0; /* Espaçamento vertical */
    align-items: center;
    text-decoration: none;

}

.menu a {
    color: #131313; /* Cor do texto */
    margin: 0 20px; /* Espaçamento entre os itens */
    font-weight: bold; /* Deixa o texto em negrito */
    font-family: Georgia, 'Times New Roman', Times, serif/* Fonte */
}
.menu a:hover {
    color:rgba( rgba(128, 0, 255, 0.884)) ; /* Cor do texto ao passar o mouse */
    text-decoration: none;
    transition: 1s;
    width: 10px;
 }

.info-boxer {
    background: rgba(116, 1, 145, 0.355); /* Fundo branco semi-transparente */
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    display: flexbox;
}

.logo {
    width: 80px;
    display: block;
    margin-bottom: 20px;
}

main > h1 {
    color: #af6efe;
    margin: 0 0 10px;
}

.at {
    margin: 10px 0;
    line-height: 1.6;
    color: #af6efe;
}

#Att {
   font-size: larger;
   color: white;
}

#p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color-scheme: var(--cor3);
}
.form-container {
    width: 100%;
    max-width: 600px; /* Define um tamanho máximo para o formulário */
    padding: 20px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
    width: 100%;
    height: 100%;
}


form[name="seguro_form"]{
    background: rgba(255, 255, 255, 0) ;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form[name="seguro_form"]label {
    display: block;
    font-weight: lighter;
}

label {
    color: #2d134e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form[name="seguro_form"] input {
    width: calc(120% - 40px);
    padding: 10px;
    border: 1px solid #dddddd3d;
    border-radius: 4px;
    background-color: rgba(210, 206, 206, 0.374);
    transition: box-shadow 0.3s, border 0.3s ease; 
}


form[name="seguro_form"] input:focus {
  border: 2px solid #a73df2;
  box-shadow: 0 0 15px rgb(248, 56, 255); 
  outline: none;
}

.input-with-icon {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25px 25px;
}
#destino {
    padding-left: 35px;
    font-size: 14px;
}
#destino-list {
    background-color: white;
}

#button {
    width: 100%;
    height: 90%;
    padding: 12px;
    background-color: hsl(278, 98%, 65%);
    color: rgb(46, 0, 58);
    border: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button:hover {
    background-color: #88e3f5;}


    
    ul.lista_geral > li {

        padding-top: 0px;
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 5px;
        display: inline-block;
        text-align: center;
        width: 120px;
        height: 100px;
    }

    .form-group{
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: column;
    }

    .erro {
        border: 2px solid red;
    }
    
    ul.links_outros > li {
    
        text-indent: -9999;
        width: 10px;
        display: inline;
    }
    
    ul {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: auto; 
        text-align: center;
        width: 100%;
        list-style: none;
        display: inline-block;
        
    }
    
    
    nav{
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 30px;
     
    }
    
    .lista_maislinks {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: auto; 
        text-align: center;
        width: 100%;
        list-style: none;
        display: inline-block;
        
    
    }
    
    .links {
    
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 45px;
        padding-bottom: 5px;
        display: inline;
    }
    
    .parte_do_pagamento {
        padding-top: 50px;
    }
    
    
    
    .parag_rodape {
        text-align: center;
        padding: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    h2 {
        text-align: center;
    }
    
    h3{
        text-align: center;
    }
    
    /**Imagem e Informações dela**/
    
    .parte_de_informacoes{
    
       
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
        
        padding-top: 5px;
        padding-bottom: 15px;
    }
    
    .informacoes_dtn {
    
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
    }
    
    img {
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
        text-align: center;
        width: 90px;
        height: 90px;
        padding: 5px;
        border-radius: 90px;
    }
    
    :root {

        --cor0:#F2F2F2;
        --cor1:#B79BF2;
        --cor3:#1F0740;
        --cor4:#211626;
        --cinza: #4b484d;
    
        --font-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        --font-destaque: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    
    
    
   