@charset "UTF-8";
body{
    height: 100vh;
}

    


menu {
    display:inline;
}

.menu > li{
    display:inline;
}

a{
    color: inherit;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

header{
    position: sticky;
    align-items: center;
    justify-content: flex-star;
}


#container-fixo{
    display: flex;
    justify-content: space-between; /* Espaça os elementos entre a esquerda e a direita */
    align-items: center; /* Alinha verticalmente */
    width: 100%;
    position:sticky ;
}

.left{
    display: flex;
    align-items: center;
}

#logo{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    height: 40px;
}

.right{
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.nexus{
    display: inline-block;
    vertical-align: middle;
}

.texto{
    margin-right: 0;
    padding-right: 5px;
    font-size: 24px;
}

.linha-vertical {
    height: 40px;/*Altura da linha*/
    width: 1px;
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    background-color: black;
}

#ajuda{
    height: 30px;
}

#ajuda-container{
    display: flex;
    align-items: center;
}

#icon-menu{
    width: 40px;
}
/*Menu de opções*/

.lista_menu {
    display:inline-block;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    list-style: none;

}

.menu{
    background:linear-gradient(to right,  #b833b8, #6441a6);
    height: 60px;
    justify-content: center;
    display:flex;
    align-items: center;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
}

.menu li{
    flex:1;
    list-style: none;
    text-align: center;
}

.menu a{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.menu img{
    margin-bottom: 5px;
    height: 30px;
    width: auto;
}

/* Estilos gerais */
form input[type="text"],
form input[type="date"] {
    flex: 1 1 calc(50% - 10px);
    margin: 5px;
}

form button {
    flex: 1 1 100%;
    margin: 5px;
}

/* Ajustes para telas menores */
@media screen and (max-width: 768px) {
    form input[type="text"],
    form input[type="date"] {
        flex: 1 1 100%;
    }
};

.menu img{
    margin-right:5px;
}

.icones{
    display: flex;
    height: 23px;

}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

/* Estilos gerais */
form input[type="text"],
form input[type="date"] {
    flex: 1 1 calc(50% - 10%); /*Cada campo ocupa 48% da largura disponível*/
    margin: 5px 0;
}

form button {
    flex: 1 1 100%;
    margin: 5px;
    display:block;

}

form button, 
form input[type="button"]{
    flex: 1 1 100%;
    margin: 10px auto 0;
    display: block;
    text-align: center;
}

/* Ajustes para telas menores */
@media screen and (max-width: 768px) {
    form input[type="text"],
    form input[type="date"] {
        flex: 1 1 100%;
    }
}

@media sreen and (max-width: 768px){
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        padding: 10px 0;
    }
}

@media sreen and (max-widht: 768px){
    .dropdown img{
        height: 20px;
    }
}
/*Buscar passagens*/

#perguntas{
    display: flex;
    gap:10px;
   flex-wrap: wrap; /*Faz os campos quebrarem linha se não houver espaço*/
}

#perguntas input{
    flex-basis: 70%;
}

#perguntas button{
    flex-basis: 30%;
}

.campo{
    display: flex;
    flex-direction: column;/*Mantém o label acima do input*/
   
}

#botão{
    display: flex;
    padding-top: 10px;
    width: 40pxS;
}
#parte-azul{
    background-color: rgb(79, 128, 120);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parte-branca{
    background-color: white;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}
/* Estilo geral do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo do botão que abre o dropdown */
.dropdown-button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo do conteúdo do dropdown */
.dropdown-content {
    display: none; /* Esconde o menu inicialmente */
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px 0;
    right: 0;
    left: auto;
}

.dropdown img{
    height: 24px;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Estilo dos itens de menu */
.menu-item {
    color: #333;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

#menu-lista{
    float:left;
    padding-right: 0;
}
/* Ícones dentro dos itens de menu */
.menu-item i {
    margin-right: 10px;
    float: right;
}

/* Mudar a cor de fundo ao passar o mouse */
.menu-item:hover {
    background-color: #f1f1f1;
}

/* Mostrar o dropdown ao clicar no botão */
.dropdown.show .dropdown-content {
    display: block;
}

    #titulo {
        font-style: normal;
        font-weight: bolder;
        font-size: x-large;
        margin: 0;
    }

    #sub {
       
        margin: 5px 0 0 0; 
        font-weight: bold;
    }
    .toggle-button {
        display: flex;
        border-radius: 50px;
        border-color: rgb(139, 117, 250);
        border: 1px solid #7a5185;
        overflow: hidden;
        width: 300px;
        float: right;
    }
    .toggle-option {
        flex: 1;
        padding: 10px;
        border: none;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .toggle-option:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    
    .toggle-option:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    .toggle-option.active {
        background-color: #eac7ff;
        color: #8b58ce;
        border: 1px solid #8b58ce;
        ;
    }
    
    .toggle-option:not(.active) {
        background-color: #e8d9f3;
        color: #70607b;
    }
   
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        margin: 16px;
        text-align: center;
        width: 200px;
        display: inline-block;   
        
    }
    .card:hover{
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349); 
        z-index: 1; /*profundidade da layer*/
        overflow: hidden;
        border-radius: 5px;
        /* 1 valor: eixo x | 2 valor: eixo y | 3 valor: blur | 4 valor: cor */
        transform: scale(1.1) /*Aumentar a imagem quando passa o mouse por cima da imagem e rotaciona*/    
    }
    .card img {
        width: 100%;
        border-radius: 8px;
    }
    .card h2 {
        font-size: 1.5em;
        margin: 0.5em 0;
    }
    .card p {
        font-size: 1.2em;
        color: #fff9f9;
    }

    .card button {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .container {
        position: relative;
        width: 300px;
        margin: 20px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }
    h2 {
       font-weight: 100;
    }
 
    .text {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        text-align: center;
    }

    .button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 5px;
    }
    nav {
        border-radius: 50px;
        border-color: rgb(139, 117, 250);
        border: 1px solid #7a5185;
        overflow: hidden;
        width: 300px;
        text-align: center ;
        color: #5e3298;
    }
    nav.active {
        background-color: #eac7ff;
        color: #8b58ce;
        border: 1px solid #8b58ce;
        ;
    }
    
    nav:not(.active) {
        background-color: #e8d9f3;
        color: #70607b;
    }
    .flex-conteiner {
        border-radius: 50px;
        border-color: rgb(139, 117, 250);
        border: 1px solid #7a5185;
        overflow: hidden;
        width: 300px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
    }
    
    .cardd {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        transition: transform 0.2s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349); 
    }
    
    .cardd:hover {
        transform: scale(1.05);
    }
    
    .cardd img {
        width: 100%;
        height: auto;
    }
    
    .cardd .texto {
        padding: 16px;
    }
    
    .cardd h2 {
        font-size: 1.5em;
        margin: 0.5em 0;
    }
    
    .cardd p {
        font-size: 1em;
        color: #333;
    }
    
    .cardd button {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s;
    }
    
    .cardd button:hover {
        background-color: #0056b3;
    }
    article {
      background-color:  rgb(170, 130, 255);
      margin: 5px 5px 5px 5px;
      text-align: center;
      border-radius: 10%;
    }
     figcaption {
        right: 40%;
     }


ul.lista_geral > li {

    padding-top: 0px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 100px;
}

ul.links_outros > li {

    text-indent: -9999;
    width: 90px;
    display: inline;
}

.lista_geral {
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto; 
    text-align: center;
    width: 100%;
    list-style: none;
    display: inline-block;
    
}


.parte_dos_links{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 30px;
 
}

.lista_maislinks {
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto; 
    text-align: center;
    width: 100%;
    list-style: none;
    display: inline-block;
    

}

.links {

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 45px;
    padding-bottom: 5px;
    display: inline;
}

.parte_do_pagamento {
    padding-top: 50px;
}



.parag_rodape {
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#formasdepagamento {
    text-align: center;
}

#sigatitulo{
    text-align: center;
}

/**Imagem e Informações dela**/

.parte_de_informacoes{

   
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    
    
    padding-top: 5px;
    padding-bottom: 15px;
}

.informacoes_dtn {

    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}

img {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    text-align: center;
    width: 90px;
    height: 90px;
    padding: 5px;
    border-radius: 90px;
}

/**cores e fontes**/

:root {

    --cor0:#F2F2F2;
    --cor1:#B79BF2;
    --cor3:#1F0740;
    --cor4:#211626;
    --cinza: #4b484d;

    --font-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-destaque: Verdana, Geneva, Tahoma, sans-serif;

}



/**aside**/

#faq1 {
    border-top: 10px;
    border-style: solid;
    border-color: var(--cor1);
    border-radius: 5px;
    font-family: var(--font-padrao);
}

#faq2 {
    border-top: 10px;
    border-style: solid;
    border-color: var(--cor1);
    border-radius: 5px;
    font-family: var(--font-padrao);
}

#faq3 {
    border-top: 10px;
    border-style: solid;
    border-color: var(--cor1);
    border-radius: 5px;
    font-family: var(--font-padrao);
}

aside > p {

    background-color: #b69bf241;
    border-radius: 10px;
}

.parag_rodape {

    font-family: var(--font-padrao);
    color: var(--cinza);
}

/**fim do aside**/

/**começo do rodapé**/


footer {
    border-top: var(--cinza);
    
}

.informacoes_dtn {

    color: #1F0740;
}

.links > a{
    text-decoration: none;
    color:var(--cor3);
    transition-duration: 0.5s;
    font-family: var(--font-destaque);
    width: 60px;
    
}

a:hover {
    background-color: #b69bf22d;
}

.parte_do_pagamento {

    background-color: #b69bf241;
    border-radius: 10px;
}

#formasdepagamento{

    font-family:var(--font-destaque) ;
    color: var(--cinza);
}

/**formas de pagamento**/

#bb {

    background: url(../Imagens/bb.teste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#bradesco {

    background: url(../Imagens/bradescoteste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#caixa {

    background: url(../Imagens/caixa.teste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#elo {

    background: url(../Imagens/elo.teste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#itau {

    background: url(../Imagens/itau.teste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#mastercard {

    background: url(../Imagens/mastercardteste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#pix {

    background: url(../Imagens/pix.teste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#santader {

    background: url(../Imagens/santander.teste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#visa {

    background: url(../Imagens/visa.teste.webp) no-repeat;
    width: 85px;
    height: 55px;
    color: transparent;
    text-shadow: none;
}

#sigatitulo {

    font-family:var(--font-destaque) ;
    color: var(--cinza);

}

#instagram {

    background: url(../Imagens/logo-insta.webp) no-repeat;
    width: 100px;
    height: 50px;
    color: transparent;
    text-shadow: none;
}

#facebook {

    background: url(../Imagens/logo-facebook.webp) no-repeat;
    width: 100px;
    height: 50px;
    color: transparent;
    text-shadow: none;
}

#twitter {

    background: url(../Imagens/logo-twitter.webp) no-repeat;
    width: 100px;
    height: 50px;
    color: transparent;
    text-shadow: none;
}

#tiktok {

    background: url(../Imagens/logo-tiktok.webp) no-repeat;
    width: 100px;
    height: 50px;
    color: transparent;
    text-shadow: none;
}

#youtube {

    background: url(../Imagens/logo-youtube.webp) no-repeat;
    width: 100px;
    height: 50px;
    color: transparent;
    text-shadow: none;
}

.links_outros > a {
    display: inline-block;
}



   
