@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Roboto:400,700,900&display=swap');

:root {

    --cor0:#F2F2F2;
    --cor1:#B79BF2;
    --cor3:#1F0740;
    --cor4:#211626;
    --cinza: #4b484d;

    --font-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-destaque: Verdana, Geneva, Tahoma, sans-serif;

}


* {

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {

    background: #fefefe;
}

header {

    width: 100%;
    height: 80px;
    background: #1F0740;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {

    font-size: 28px;
    font-weight: bold;
    color: white;

}

.hamburguer {

    display: none;
}

.nav_bar > ul {

    display: flex;
}

.nav_bar > ul > li > a {

    display: block;
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-weight: bold;
}

.nav_bar > ul > li > a:hover {

    color: #1F0740 ;
    background: white;
}

.nav_bar > ul > li > a.active {

    color: #1F0740;
    background: white;
}

@media only screen and ((max-width: 1320px)) {

    header {
        
        padding: 0 50px;
    }
}

@media only screen and ((max-width: 1100px)) {

    header {
        
        padding: 0 30px;
    }
}

@media only screen and ((max-width: 900px)) {

    .hamburguer {

        display: block; 
        cursor: pointer;
    }

    .hamburguer > .line {

        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .nav_bar {

        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #1F0740 ;
        transition: 0.5s;
        overflow: hidden;

    }

    .nav_bar.active {

        height: 450px;
    }

    .nav_bar > ul {

        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }

    .nav_bar.active ul {

        opacity: 1;
    }

    .nav_bar > ul > li > a {

        margin-bottom: 12px;
        
    }

}
body, html {
    margin: 0;
}
.conteiner {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    text-align: center;
}
.content {
    width: 50%; /* Largura do contêiner */
    padding: 20px;
}
.container {
    display: flex;
    height: 100vh;
    background-image: url(../WhatsApp\ Image\ 2024-09-09\ at\ 12.03.39\ PM.jpeg);
    background-size: 100PX not-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;   
    width: 100%;
    height: 100%;
}
.menu li {
    width: 100%;
    background-color: rgba(162, 45, 235, 0.274);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.481); /* Efeito de sombra */
    display: flex; /* Alinhamento horizontal dos itens */
    justify-content: center; /* Centraliza os itens */
    padding: 10px 0; /* Espaçamento vertical */
    align-items: center;
}
.menu a {
    color: #333; /* Cor do texto */
    margin: 0 20px; /* Espaçamento entre os itens */
    font-weight: bold; /* Deixa o texto em negrito */
    font-family: Georgia, 'Times New Roman', Times, serif/* Fonte */
}
.menu a:hover {
    color: #037366; /* Cor do texto ao passar o mouse */
    border-bottom: 2px solid #00cc9d70; /* Linha inferior */ }

.info-boxer {
    background: rgba(255, 255, 255, 0.116); /* Fundo branco semi-transparente */
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    display: flexbox;
}

.logo {
    width: 80px;
    display: block;
    margin-bottom: 20px;
}

h1 {
    color: #4c07a0;
    margin: 0 0 10px;
}

p {
    margin: 10px 0;
    line-height: 1.6;
}
#p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color-scheme: var(--cor3);
}
.form-container {
    width: 100%;
    max-width: 600px; /* Define um tamanho máximo para o formulário */
    padding: 20px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
    width: 100%;
    height: 100%;
}

form[name="seguro_form"]{
    background: rgba(255, 255, 255, 0.664) ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form[name="seguro_form"]label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form[name="seguro_form"] input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form[name="seguro_form"]button {
    width: 100%;
    padding: 12px;
    background-color: #be50fd;
    color: rgb(133, 133, 133);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form[name="seguro_form"] button:hover {
    background-color: #88e3f5; }
    ul.lista_geral > li {

        padding-top: 0px;
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 5px;
        display: inline-block;
        text-align: center;
        width: 120px;
        height: 100px;
    }
    .campo-erro {
      background-color: rgba(250, 51, 51, 0.493);
    }
    
    ul.links_outros > li {
    
        text-indent: -9999;
        width: 90px;
        display: inline;
    }
    
    ul {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: auto; 
        text-align: center;
        width: 100%;
        list-style: none;
        display: inline-block;
        
    }
    
    
    nav{
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 30px;
     
    }
    
    .lista_maislinks {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: auto; 
        text-align: center;
        width: 100%;
        list-style: none;
        display: inline-block;
        
    
    }
    
    .links {
    
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 45px;
        padding-bottom: 5px;
        display: inline;
    }
    
    .parte_do_pagamento {
        padding-top: 50px;
    }
    
    
    
    .parag_rodape {
        text-align: center;
        padding: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    h2 {
        text-align: center;
    }
    
    h3{
        text-align: center;
    }
    
    /**Imagem e Informações dela**/
    
    .parte_de_informacoes{
    
       
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
        
        padding-top: 5px;
        padding-bottom: 15px;
    }
    
    .informacoes_dtn {
    
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
    }
    
    img {
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
        text-align: center;
        width: 90px;
        height: 90px;
        padding: 5px;
        border-radius: 90px;
    }
    
    :root {

        --cor0:#F2F2F2;
        --cor1:#B79BF2;
        --cor3:#1F0740;
        --cor4:#211626;
        --cinza: #4b484d;
    
        --font-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        --font-destaque: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    
    
    
    /**aside**/
    
    #faq1 {
        border-top: 10px;
        border-style: solid;
        border-color: var(--cor1);
        border-radius: 5px;
        font-family: var(--font-padrao);
    }
    
    #faq2 {
        border-top: 10px;
        border-style: solid;
        border-color: var(--cor1);
        border-radius: 5px;
        font-family: var(--font-padrao);
    }
    
    #faq3 {
        border-top: 10px;
        border-style: solid;
        border-color: var(--cor1);
        border-radius: 5px;
        font-family: var(--font-padrao);
    }
    
    aside > p {
    
        background-color: #b69bf241;
        border-radius: 10px;
    }
    
    .parag_rodape {
    
        font-family: var(--font-padrao);
        color: var(--cinza);
    }
    
    /**fim do aside**/
    
    /**começo do rodapé**/
    
    
    footer {
        border-top: var(--cinza);
        
    }
    
    .informacoes_dtn {
    
        color: #1F0740;
    }
    
    .links > a{
        text-decoration: none;
        color:var(--cor3);
        transition-duration: 0.5s;
        font-family: var(--font-destaque);
        width: 60px;
        
    }
    
    a:hover {
        background-color: #b69bf22d;
    }
    
    .parte_do_pagamento {
    
        background-color: #b69bf241;
        border-radius: 10px;
    }
    
    #formasdepagamento{
    
        font-family:var(--font-destaque) ;
        color: var(--cinza);
    }
    
    /**formas de pagamento**/
    
    #bb {
    
        background: url(img/Imagens/bb.teste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #bradesco {
    
        background: url(img/Imagens/bradescoteste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #caixa {
    
        background: url(img/Imagens/caixa.teste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #elo {
    
        background: url(img/Imagens/elo.teste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #itau {
    
        background: url(img/Imagens/itau.teste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #mastercard {
    
        background: url(img/Imagens/mastercardteste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #pix {
    
        background: url(img/Imagens/pix.teste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #santader {
    
        background: url(img/Imagens/santander.teste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #visa {
    
        background: url(img/Imagens/visa.teste.webp) no-repeat;
        width: 85px;
        height: 55px;
        color: transparent;
        text-shadow: none;
    }
    
    #sigatitulo {
    
        font-family:var(--font-destaque) ;
        color: var(--cinza);
    
    }
    
    #instagram {
    
        background: url(img/Imagens/logo-insta.webp) no-repeat;
        width: 100px;
        height: 50px;
        color: transparent;
        text-shadow: none;
    }
    
    #facebook {
    
        background: url(img/Imagens/logo-facebook.webp) no-repeat;
        width: 100px;
        height: 50px;
        color: transparent;
        text-shadow: none;
    }
    
    #twitter {
    
        background: url(img/Imagens/logo-twitter.webp) no-repeat;
        width: 100px;
        height: 50px;
        color: transparent;
        text-shadow: none;
    }
    
    #tiktok {
    
        background: url(img/Imagens/logo-tiktok.webp) no-repeat;
        width: 100px;
        height: 50px;
        color: transparent;
        text-shadow: none;
    }
    
    #youtube {
    
        background: url(img/Imagens/logo-youtube.webp) no-repeat;
        width: 100px;
        height: 50px;
        color: transparent;
        text-shadow: none;
    }
    
    .links_outros > a {
        display: inline-block;
    }   
    
    