@charset "UTF-8";

* {

    width: auto;
    height: auto;
}

ul.lista_geral > li {

    padding-top: 0px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 100px;
}

ul.links_outros > li {

    text-indent: -9999;
    width: 90px;
    display: inline;
}

footer > .parte_do_pagamento > ul{
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto; 
    text-align: center;
    width: 100%;
    list-style: none;
    display: inline-block;
    
}

footer > .parte_do_siga > ul{
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto; 
    text-align: center;
    width: 100%;
    list-style: none;
    display: inline-block;
    
}



.rodape_nav{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 30px;
 
}

.lista_maislinks {
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto; 
    text-align: center;
    width: 100%;
    list-style: none;
    display: inline-block;
    

}

.links {

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 45px;
    padding-bottom: 5px;
    display: inline;
}

.parte_do_pagamento {
    padding-top: 50px;
}



.parag_rodape {
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

h3{
    text-align: center;
}

/**Imagem e Informações dela**/

.parte_de_informacoes{

   
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    
    padding-top: 5px;
    padding-bottom: 15px;
}

.informacoes_dtn {

    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}

footer > .parte_de_informacoes > img{
    padding: 10px ;
    height: 80px;
    width: auto;
    text-align: center;
   
}



